head
	title Gamification - Just Digital
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
body
	header
		.navbar-fixed
			nav.grey.darken-2
				.container
					.nav-wraper
						a(href="/").brand-logo Gamification
						a(href="#" data-activates="mobile-demo").button-collapse: i.material-icons menu
					ul.right.hide-on-med-and-down
						+menu
					ul.side-nav#mobile-demo
						+menu

	section.section
		+Router
	+modal
	+easterEgg

template(name="menu")
	li(class="{{activeNav 'send'}}"): a(href="send") Enviar
	li(class="{{activeNav 'list'}}"): a(href="list") Listar
	li(class="{{activeNav 'board'}}"): a(href="board") Mural
	li(class="{{activeNav 'ranking'}}"): a(href="ranking") Ranking
	//so mostrar pra admin
	if isAdm
		li(class="{{activeNav 'admin'}}"): a(href="admin") Admin
	//adicionar icone de settings
	li(class="{{activeNav 'config'}}"): a(href="config") Config
	if isLoggedIn
		li: a(href="#!").logout Logout

template(name="easterEgg")
	.easterEgg
		img(src="https://demaisdaconta.files.wordpress.com/2010/11/robson-caetano-no-broz.jpg")
