html, body
	overflow-x hidden
#send
	#name
		margin-bottom 0
	.collection
		margin-top 0
		.collection-item.avatar
			min-height 64px
.imgWrapper
	overflow hidden
	height 42px
	height 42px
	img
		width 100%
.easterEgg
	position absolute
	right -425px
	top 50%
	margin-top -215px
	transition all 0.3s ease-in-out
