head
	title App
	meta(name="viewport" content="width=device-width, initial-scale=1")

body
	//chama um helper chamado "title"
	h1 {{title}}

	//renderiza um template
	+Router 

template(name="home")
	h1 AEEEEEE