template(name="send")
	.container
		form#send
			.row
				.input-field.col.s12.l6
					input(type="text" name="name")#name
					label(for="name") Nome
					if autocompleteUsers
						.collection
							each autocompleteUsers
								+autocompleteUser
				.input-field.col.s12.l6
					select(name="category").category
						option(value="default" selected) Selecione uma categoria
						option(value="pessoal") Pessoal
					label Categoria
				.input-field.col.s12
					textarea(name="message")#message.materialize-textarea
					label(for="message") Mensagem
				.input-field.col.s12
					button.btn.waves-effect.waves-light.col.s8.offset-s2.blue Enviar

template(name="autocompleteUser")
	a(href="#").collection-item.avatar
		.imgWrapper.circle
			img(src="#{avatar}")
		span.title #{profile.fullname}
		p {{emails.[0].address}}

