template(name="home")
	.container
		h3.center Bem-vindo ao Gamification App!
		p.center.flow-text Caros amigos, a execução dos pontos do programa nos obriga à análise dos relacionamentos verticais entre as hierarquias. O que temos que ter sempre em mente é que o consenso sobre a necessidade de qualificação cumpre um papel essencial na formulação do sistema de participação geral. Assim mesmo, o desenvolvimento contínuo de distintas formas de atuação prepara-nos para enfrentar situações atípicas decorrentes do investimento em reciclagem técnica.