template(name="config")
	.container
		h3.center Configurações
		h5.grey-text.text-darken-3 Informações do Usuário
		.row
			form#editcol.s12
				label Username
				input(type="text" value="#{username}" name="username")

				label Nome Completo
				input(type="text" value="#{profile.fullname}" name="fullname")
				
				label E-mail
				input(type="email" value="{{emails.[0].address}}" name="email")
				
				label Avatar
				.row
					input(type="file" name="files").file
				
				button(type="submit").btn.waves-effect.waves-light.col.s8.offset-s2.blue Salvar