template(name="ranking")
	.container
		h3.center Colocação
		table.striped
			thead
				th
				th Colocação
				th Nome
				th Quantidade
			tbody
				each rankingUser
					tr 
						+rankingRow

template(name="rankingRow")
	td.prize
		.backgroud(class="#{prize}")
	td.position #{pos}
	td.name #{fullname}
	td.qtd #{count}